<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <style>
      body {
        padding: 50px;
        font: 14px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
      }

      a {
        color: #00B7FF;
      }
    </style>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
